<div class="form form--all-access modal-form" data-form="all-access">
	<div class="container d-flex justify-content-center">
		<div class="row no-gutters">
			<div class="col-8 form__header d-flex justify-content-between align-items-center">
				<p class="form__heading">Join All Access Network</p>
				<a class="form__close"><img class="svg" src="/assets/img/icon--close.svg"></a>
			</div>
			<div class="col-8">
				<form class="validate-this" id="all-access-form" name="All_Access_Application" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you">
					<input class="d-none" name="bot-field" />
					<div class="input-wrap">
						<input class="all-access name" type="text" name="name" placeholder="First + Last Name" required>
						<div class="input-wrap__error"></div>
					</div>
					<div class="input-wrap">
						<input class="all-access email" type="email" name="email" placeholder="Email" required>
						<div class="input-wrap__error"></div>
					</div>
					<div class="input-wrap">
						<input class="all-access location" type="text" name="location" placeholder="Location" required>
						<div class="input-wrap__error"></div>
					</div>
					<div class="input-wrap margin-bottom-1">
						<input class="all-access url" type="text" name="website" placeholder="Website/Instagram" required>
						<div class="input-wrap__error"></div>
					</div>
					<p class="form__notice text--12">By requesting an invite, you will automatically be added to our mailing list.</p>
					<button class="all-access submit form-submit" form="all-access-form" type="submit">Request an Invite</button>
				</form>
			</div>
		</div>
	</div>
</div>