<a class="fixed fixed__arrow"><img src="/assets/img/arrow-down.svg" class="svg"></a>
<a href="/contact" class="fixed fixed__contact"><img src="/assets/img/chat.svg" class="svg"></a>
</main>

<div class="modal-form form" data-form="brand-review">
  {% include brand-review.html %}
</div>
{% include all-access-form.html %}

<footer class="footer grain--dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 col-md-4 text-center text-md-left pb-5 pb-sm-0">
        <ul class="list-inline">
          <li><a href="/" class="text--uppercase">Services</a></li>
          <li><a href="/work" class="text--uppercase">Work</a></li>
          <li><a href="/about" class="text--uppercase">About Us</a></li>
          <li><a href="/contact" class="text--uppercase">Contact</a></li>
        </ul>
      </div>
      <div class="col-8 col-md-4 footer__socials d-flex align-items-center justify-content-center justify-content-md-end">
          <a target="_blank" href="https://www.instagram.com/goodhandsdotco/"><img src="/assets/img/icon--instagram.svg" class="svg"></a>
          <a target="_blank" href="https://twitter.com/goodhandsdotco/"><img src="/assets/img/icon--twitter.svg" class="svg"></a>
          <a target="_blank" href="https://www.linkedin.com/company/goodhandsdotco/"><img src="/assets/img/icon--linkedin.svg" class="svg"></a>
          <a target="_blank" href="http://vimeo.com/goodhandsdotco"><img src="/assets/img/icon--vimeo.svg" class="svg"></a>
          <a target="_blank" href="https://www.facebook.com/goodhandsdotco/"><img src="/assets/img/icon--facebook.svg" class="svg"></a>
          <a target="_blank" href="https://dribbble.com/goodhandsdotco/"><img src="/assets/img/icon--dribbble.svg" class="svg"></a>
          <a target="_blank" href="https://open.spotify.com/user/dv8uk8ek9aex8ygo87fdo5chf?si=ebRPgTmOR_iBxjyFcY4Ifw"><img src="/assets/img/icon--spotify.svg" class="svg"></a>
      </div>
      <div class="col-8 col-md-4 text-center text-md-left">
        <p class="text--uppercase text--medium">GOOD HANDS | Creative Agency | Music Artists, Startups, Brands</p>
      </div>
      <div class="col-8 col-md-4 text-center text-md-right">
        <p class="text--uppercase text--medium">©2019 GOOD HANDS STUDIO, LLC. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

{% include scripts.html %}

<!-- THIS IS TO CONFIRM THAT THE CMS VERSION OF THE SITE IS LOADING -->
  
</body>

</html>