<section class="two-col two-col--wide bg--dark grain--dark">      
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-5 padding-y-2 padding-y-sm-3 text-center two-col__show">
        <h1 class="text--32 text--uppercase mb-3">Show me a project</h1>
        <a href="{{ page.surprise_me_url }}" class="text--circled">
          <object id="circle" type="image/svg+xml" data="/assets/img/circle-white.svg"></object>
          <span class="mb-5 mb-sm-0">Surprise Me</span>
        </a>
        <a href="/work" class="link--underline text--uppercase d-inline-block">Let Me Choose</a>
      </div>
      <div class="col-8 col-md-3 two-col__contact padding-y-2">
        <div class="padding-bottom-md-1">
          <p class="text--uppercase">Get Started</p>
          <a class="text--arrow text--24" data-form="brand-review">Free Brand Review</a>
        </div>
        <div>
          <p class="text--uppercase">General Inquiries</p>
          <a href="mailto:hello@goodhands.co" class="text--arrow text--24">hello@goodhands.co</a>
        </div>
      </div>
    </div>
  </div>
</section>