{% include header.html %}

<section class="hero--about grain--dark pt-sm-5 pb-5">
  <div class="container container--small-fluid h-100">
    <div class="row h-100">
      <div class="col-8">
        <picture>
          <source media="(min-width: 1280px)" srcset="/assets/img/about-hero-image-1280px.jpg">
          <source media="(min-width: 768px)" srcset="/assets/img/about-hero-image-768px.jpg">
          <img src="/assets/img/about-hero-image-360px.jpg" class="draggable ui-draggable ui-draggable-handle img-1" data-aos="fade" data-aos-delay="100" data-proofer-ignore>
        </picture>
        <img class="draggable ui-draggable ui-draggable-handle img-2 d-none d-lg-block" src="/assets/img/about-hero-image-4-1280px.jpg" data-aos="fade" data-aos-delay="150">
        <picture>
          <source media="(min-width: 1280px)" srcset="/assets/img/about-hero-image-3-1280px.jpg">
          <img src="/assets/img/about-hero-image-3-768px.jpg" class="draggable ui-draggable ui-draggable-handle img-3" data-aos="fade" data-aos-delay="200" data-proofer-ignore>
        </picture>
        <picture>
          <source media="(min-width: 1280px)" srcset="/assets/img/about-hero-image-2-1280px.jpg">
          <img src="/assets/img/about-hero-image-2-768px.jpg" class="draggable ui-draggable ui-draggable-handle img-4" data-aos="fade" data-aos-delay="250" data-proofer-ignore>
        </picture>
        <img class="draggable ui-draggable ui-draggable-handle img-5" src="/assets/img/about-hero-image-5-1280px.jpg" data-aos="fade" data-aos-delay="300">
        <h1 class="text--uppercase text--24" data-aos="fade" data-aos-delay="1000">{{ page.hero_heading }}</h1>
      </div>
    </div>
  </div>
</section>

  <section class="grain--dark padding-y-2 padding-y-md-3 text-white">
    <div class="container">
      <div class="row">
        <div class="col-8" data-aos="fade">
          {% if page.client_section_heading %}<p class="text--medium text--uppercase">{{ page.client_section_heading }}</p>{% endif %}
          {% if page.client_section_text %}<p class="text--32">Through meaningful creativity, we help grow the brands of tomorrow who are being influenced by the subcultures of today.</p>{% endif %}
        </div>
      </div>
      {% if page.clients %}
        <div class="row padding-top-2 text-center client-logos">
          {% for client in page.clients %}
            <div class="col margin-bottom-1 margin-bottom-lg-0"><img src="{{ client.logo }}" class="lazy" data-proofer-ignore data-aos="fade" data-aos-delay="{{ forloop.index0 | times: 50 }}"></div>
          {% endfor %}
          </div>
      {% endif %}
    </div>
  </section>

<section class="founders grain--dark text-white padding-y-2 padding-y-md-3">
  <div class="container container--small-fluid">
    <div class="row">
      <div class="col-8 padding-bottom-1">
        {% if page.team_heading %}<h1 class="text--century text--uppercase text-center text--36" data-aos="fade">{{ page.team_heading }}</h1>{% endif %}
      </div>
    </div>
    {% if page.team %}
      <div class="row founders__photos">
        {% for person in page.team %}
          <div class="col margin-bottom-1 margin-bottom-sm-0" data-aos="fade" data-aos-delay="{{ forloop.index0 | times: 50 }}">
            <figure>
              <picture>
                {% if person.desktop_photo %}<source media="(min-width: 1280px)" srcset="{{ person.desktop_photo }}">{% endif %}
                {% if person.tablet_photo %}<source media="(min-width: 768px)" srcset="{{ person.tablet_photo }}">{% endif %}
                <img data-src="{{ person.mobile_photo }}" class="img-absolute lazy" data-proofer-ignore>
              </picture>
            </figure>
            {% if person.name %}<p class="founders__name">{{ person.name }}</p>{% endif %}
            {% if person.position %}<p class="founders__title">{{ person.position }}</p>{% endif %}
            {% if person.instagram %}<a href="{{ person.instagram }}" target="_blank"><img data-src="/assets/img/icon--instagram.svg" class="svg lazy" data-proofer-ignore></a>{% endif %}
            {% if person.twitter %}<a href="{{ person.twitter }}" target="_blank"><img data-src="/assets/img/icon--twitter.svg" class="svg lazy" data-proofer-ignore></a>{% endif %}
            {% if person.linkedin %}<a href="{{ person.linkedin }}" target="_blank"><img data-src="/assets/img/icon--linkedin.svg" class="svg lazy" data-proofer-ignore></a>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

<section class="grain--dark text-white padding-bottom-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8 col-md-4 offset-md-0" data-aos="fade">
        {% if page.text_section_heading %}<h4 class="text--uppercase">{{ page.text_section_heading }}</h4>{% endif %}
        {% if page.text_section_subheading %}<p class="text--32 text--underline text--medium">{{ page.text_section_subheading }}</p>{% endif %}
      </div>
      {% if page.text_section_content %}
       <div class="col-8 col-md-3 offset-md-1 padding-top-1 padding-top-lg-0" data-aos="fade" data-aos-delay="100">
          <p class="text--20">{{ page.text_section_content }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% include show-project.html %}

{% include footer.html %}
