{% include header.html %}

  <section class="all-access__half-hero position-relative d-flex">
  <div class="col px-0 d-flex flex-column justify-content-center align-items-center position-relative">
    <img src="/assets/img/all-access-hero-bg.jpg" class="img-absolute">
    <div class="align-items-center container d-flex flex-column padding-y-5 text-center text-white">
      <p class="text--uppercase text--24">ALL ACCESS by GOOD HANDS</p>
      <p class="text--20 padding-bottom-1">A collection of culturally conscious images of the emerging generation</p>
      <div class="d-flex justify-content-center justify-content-sm-between links">
        <a href="/contact" class="text--circled">
          <object id="circle" type="image/svg+xml" data="/assets/img/circle-white.svg"></object>
          <span>Connect With Us</span>
        </a>
        <a class="text--uppercase d-none d-sm-block link--underline" data-form="all-access">Join All Access</a>
      </div>
    </div>
  </div>
  <div class="col d-none d-lg-flex flex-column justify-content-center align-items-center text-white">
    <div class="padding-bottom-1">
      <img src="/assets/all-access/hard-fest.jpg" width="355">
    </div>
    <a href="/all-access/2018/08/hard-summer/" class="text--uppercase link--underline">View Gallery</a>
  </div>
</section>

<section class="all-access-galleries grain--dark padding-top-2 padding-bottom-1">
  <div class="container container--small-fluid">
    <div class="row">
      <div class="col-8 padding-bottom-2">
        <h1 class="text--uppercase text--36 text--century text-white text-center" data-aos="fade-up">Access the most important branded events, festivals, and shows around the world</h1>
      </div>
    </div>
    <div class="row no-gutters">
      {% assign sortedgalleries = site.gallery | sort: 'order' %}
      {% for gallery in sortedgalleries %}
        <div class="col padding-bottom-1">
          <div class="all-access__gallery padding-bottom-9 position-relative" data-aos="fade">
            <a href="{{ gallery.url }}">
              <img data-src="{{ gallery.hero }}" class="img-absolute img-grid lazy" data-proofer-ignore>
              <div class="all-access__gallery-desc d-flex flex-column justify-content-between">
                <p class="text--uppercase text--medium">{{ gallery.date_location }}</p>
                <p class="text--uppercase text--medium">{{ gallery.title }}</p>
                <p class="text--uppercase text--medium">Photos by {{ gallery.author_name }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="two-col two-col--wide grain--dark">      
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-5 padding-y-2 padding-y-md-3 text-center two-col__show">
        <h1 class="text--32 text--uppercase mb-3">All Access by Good Hands</h1>
        <a href="/contact" class="text--circled">
          <object id="circle" type="image/svg+xml" data="/assets/img/circle-white.svg"></object>
          <span class="mb-5 mb-sm-0">Connect With Us</span>
        </a>
        <a class="text--underline text--uppercase all-access-trigger d-inline-block link--underline" data-form="all-access">Join All Access</a>
      </div>
      <div class="col-8 col-md-3 two-col__contact padding-y-2">
        <div class="padding-bottom-1">
          <p class="text--uppercase">Explore</p>
          <a target="_blank" href="https://www.instagram.com/explore/tags/allaccessbygh/" class="text--arrow text--24">#AllAccessbyGH</a>
        </div>
        <div>
          <p class="text--uppercase">Press</p>
          <a href="mailto:hello@goodhands.co" class="text--arrow text--24">hello@goodhands.co</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
