{% include header.html %}

<section class="all-access__hero position-relative jarallax" data-jarallax data-speed="0">
  <img src="{{ page.hero }}" class="img-absolute jarallax-img">
  <div class="container-fluid all-access__description padding-y-4 padding-top-sm-6 padding-bottom-sm-9 padding-top-md-6 padding-bottom-md-5 text-center text-white">
    <div data-aos="fade" data-aos-delay="500">
      <p class="text--uppercase">{{ page.date_location }}</p>
      <p class="text--24 text--uppercase">{{ page.gallery_title }}</p>
      <a href="{{ page.author_link }}" class="text--uppercase">Photos by {{ page.author_name }}</a>
    </div>
  </div>
</section>

<section class="grain--dark padding-top-2 padding-bottom-1">
  <div class="container container--small-fluid">
    <div class="row">
      {% for image in page.images %}
        <div class="col-8 margin-bottom-1{% if image.column == 'half' %} col-sm-4{% endif %}" data-aos="fade">
          <img data-src="{{ image.url }}" class="img-fluid w-100 h-100 lazy" data-proofer-ignore>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="two-col two-col--wide grain--dark">      
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-5 padding-y-2 padding-y-md-3 text-center two-col__show">
        <h1 class="text--32 text--uppercase mb-3">All Access by Good Hands</h1>
        <a href="/contact" class="text--circled">
          <object id="circle" type="image/svg+xml" data="/assets/img/circle-white.svg"></object>
          <span class="mb-5 mb-sm-0">Connect With Us</span>
        </a>
        <a class="text--underline text--uppercase all-access-trigger d-inline-block link--underline">Join All Access</a>
      </div>
      <div class="col-8 col-md-3 two-col__contact padding-y-2">
        <div class="padding-bottom-1">
          <p class="text--uppercase">Explore</p>
          <a target="_blank" href="https://www.instagram.com/explore/tags/allaccessbygh/" class="text--arrow text--24">#AllAccessbyGH</a>
        </div>
        <div>
          <p class="text--uppercase">Press</p>
          <a href="mailto:hello@goodhands.co" class="text--arrow text--24">hello@goodhands.co</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}
