{% include header.html %}
<section href="/" class="text-center padding-top-3">
	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-6 offset-sm-1">
				<p class="text--uppercase text--16">Thoughts — 4 Min Read</p>
				<h1 class="text--underline text--38 padding-bottom-1">2018 State of Branding Report: Review</h1>
				<div class="d-flex align-items-center justify-content-center">
					<img src="/assets/img/daniel.png" width="48" height="48" class="mr-3">
					<div class="d-flex flex-column flex-sm-row text-left text-sm-center">
						<p class="text--uppercase text--14 text--medium mr-3">Daniel Baldwin</p>
						<p class="text--14">Creative Director at GOOD HANDS</p>
					</div>
				</div>
				<img src="/assets/img/startups-services-branding-lg-1280px.jpg" class="img-fluid w-100 padding-top-1 padding-top-sm-2 padding-bottom-2">
			</div>
		</div>
	</div>
</section>

<section class="good-reads-post">
	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-6 offset-sm-1 text--24">
				<p>This morning, I saw a post on LinkedIn that shared a report put out by <a href="/">Bynder</a> and <a href="/">OnBrand</a> that gives insight into the <a href="/">State of Branding in 2018</a>. They surveyed 500+ marketing decision makers and shared five trends set to dominate the industry in 2018.</p>

				<figure>
					<img src="/assets/img/blog-post-1.png" class="img-fluid w-100">
					<figcaption>Source: <a href="https://twitter.com">Twitter</a></figcaption>
				</figure>

				<p>Reading this, I thought “branding is one of those things marketers know they need to do but typically put it on the backburner until someone else does it for them”. To some, it is viewed as one of those projects that don’t “move the needle”. And that’s okay, because if your primary focus is not your brand, it means that you’re doing something right with your product or service.</p>

				<p>But unfortunately, your brand is not a constant; it should evolve with your market and your audience. You might be comforted by the fact that your product sells itself or your offering is self-explanatory, but it’s dangerous to overlook the fact that your product can and may be commoditized and susceptible to takeover by a brand that resonates more with customers. In order to stay relevant, you need to practice methods of putting your brand in front of your target audience.</p>

				<p>After reading Bynder and OnBrand’s study, I was inspired to share my thoughts on the 2018 State of Branding, backed by their research. I welcome any feedback in the comments below, via <a href="/">email</a>, or on <a href="/">Twitter</a>.</p>

				<h1>1. Brands Want to Personalize but Struggle to Find the Right Tech</h1>

				<p>In today’s digital space, there are various ways to integrate your brand with technology to get your product in front of your customers. However, trends such as VR, AR, and voice recognition might not be the right fit for your product. In order to innovate, it’s important to stay current and ready to shift your strategy when the opportunity arises.</p>

				<p>Let’s take a look at an established brand, Dominos. Last year, Dominos surpassed Pizza Hut in sales for the first time, <a href="/">generating $12.2 billion</a> compared to Pizza Hut’s <a href="/">$12.03 billion</a>. Here we have two global brands, essentially selling the same product.</p>

				<p>What changed in Dominos’ strategy to contribute to their growing revenue? Dominos <a href="/">developed a campaign</a> with the help of advertising agency <a href="/">Crispin Porter + Bogusk</a> called <a href="/">AnyWare</a>, which brought ordering to the devices and platforms people already use every day, such as Slack, Smart TVs, Amazon Alexa, or even your car.</p>

				<blockquote>
					<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel sem vitae lacus fermentum lobortis vel”</p>
					<p>DANIEL BALDWIN, CO-FOUNDER OF GOOD HANDS</p>
				</blockquote>

				<figure>
					<img src="/assets/img/blog-post-2.png" class="img-fluid w-100">
					<figcaption>Source: <a href="https://dominos.com">Dominos</a></figcaption>
				</figure>

				<h3>Lorem Ipsum Dolor Sit</h3>
				<p>As of June 25, 2017, the slang definition for “woke” has officially been added to the Oxford Dictionary. Behind this movement, you’ll find Generation Z and Millenials, both equally passionate about Cause Marketing and Social Activism.</p>

				<p>How does this relate to brands? Well in a study by Forbes, 75 percent of millennials said it’s important that the brands they buy from give back to society. Brands are using this as an opportunity to develop a voice, polish their core values, and present themselves in a way that shares the same passion as their audience.</p>

				<h3>Lorem Ipsum Dolor Sit</h3>
				<p>One of our clients, We Wear Us, is doing just that. With the vision of bringing affordable, authentic South Asian wear to women all around the world, CEO Diya Varma is launching a platform that serves to give aspiring, growing, and established creators a voice to share their stories, and a marketplace to grow their brands.</p>

				<p>At GOOD HANDS, we help brands prepare for the future of marketing. If you’d like to learn more about how we can help your brand, email us at hello@goodhands.co. Or, follow us on Twitter or Instagram to stay connected with our work and more content like this.</p>
			</div>
		</div>
	</div>
</section>

<section class="good-reads-post-grid good-reads-post-grid--related padding-y-3">
	<div class="container">
		<div class="row">
			<div class="col-8 col-sm-6 offset-sm-1 padding-bottom-1">
				<p class="text--uppercase text--medium">Readers Also Enjoyed</p>
			</div>
			<div class="col-8 col-sm-6 offset-sm-1">
				<div class="row">
					<div class="col-8 col-md-4 padding-bottom-1 padding-bottom-md-0">
						<a href="/">
							<figure>
								<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
							</figure>
							<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
							<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
							<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
						</a>
					</div>
					<div class="col-8 col-md-4 padding-bottom-1 padding-bottom-md-0">
						<a href="/">
							<figure>
								<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
							</figure>
							<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
							<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
							<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="two-col two-col--wide grain--light">      
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-5 padding-y-2 padding-y-md-3 text-center two-col__show">
        <h1 class="text--24 text--uppercase mb-3 text-center">Your weekly dose of all things good</h1>
        	<form class="newsletter-form validate-this" id="newsletter-form" name="All_Access_Application" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you">
        		<input class="d-none" name="bot-field" />
        		<div class="input-wrap">
					<input class="newsletter email" type="email" name="email" placeholder="Email address" required>
					<div class="input-wrap__error"></div>
				</div>
				<button class="newsletter submit form-submit" form="newsletter-form" type="submit"><img src="/assets/img/icon--smile.svg"></button>
        	</form>
        <p class="text--12 text-center text--uppercase">By signing up for our newsletter, you agree to our <a target="_blank" href="/" class="text--underline">privacy policy</a>.</p>
      </div>
      <div class="col-8 col-md-3 two-col__contact padding-y-2">
        <div class="padding-bottom-1">
          <p class="text--uppercase">Get Started</p>
          <a class="text--arrow dark text--24" data-form="brand-review">Free Brand Review</a>
        </div>
        <div>
          <p class="text--uppercase">General Inquiries</p>
          <a href="mailto:hello@goodhands.co" class="text--arrow dark text--24">hello@goodhands.co</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}