{% include header.html %}
<a href="/" class="good-reads-hero text-center text-md-left">
	<img src="/assets/img/startups-services-branding-lg-1280px.jpg" class="good-reads-hero__image">
	<div class="container">
		<div class="row">
			<div class="col-8 col-md-4 offset-md-4">
				<div class="padding-y-3">
					<p class="text--uppercase text--16">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--38 padding-bottom-1">2018 State of Branding Report: Review</h1>
					<img src="/assets/img/startups-services-branding-lg-1280px.jpg" class="img-fluid d-block d-md-none w-100  padding-bottom-1">
					<p class="text--only-20 padding-bottom-1 text-left">Your brand is not a constant; it should evolve with your market and your audience. In order to stay relevant, you need to consider practicing these 5 methods of putting your brand in front of your target audience.</p>
					<div class="d-flex text-left">
						<img src="/assets/img/daniel.png" width="48" height="48" class="mr-4">
						<div>
							<p class="text--uppercase text--14 text--medium">Daniel Baldwin</p>
							<p class="text--14">Creative Director at GOOD HANDS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>

<section class="good-reads-post-grid padding-y-2">
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
			<div class="col">
				<a href="/">
					<figure>
						<img src="/assets/img/startups-services-branding-lg-1280px.jpg" alt="" class="img-absolute">
					</figure>
					<p class="text--uppercase text--14">Thoughts — 4 Min Read</p>
					<h1 class="text--underline text--only-20">Us vs Them: Helpful Tips for Choosing An Agency Partner</h1>
					<p class="text--only-20">Your brand is not a constant; it should evolve with your market and your audience.</p>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-8 text-center">
				<a href="/" class="text--uppercase text--16 text--medium">See More Posts</a>
			</div>
		</div>
	</div>
</section>

<section class="two-col two-col--wide grain--light">      
  <div class="container">
    <div class="row">
      <div class="col-8 col-md-5 padding-y-2 padding-y-md-3 text-center two-col__show">
        <h1 class="text--24 text--uppercase mb-3 text-center">Your weekly dose of all things good</h1>
        	<form class="newsletter-form validate-this" id="newsletter-form" name="All_Access_Application" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you">
        		<input class="d-none" name="bot-field" />
        		<div class="input-wrap">
					<input class="newsletter email" type="email" name="email" placeholder="Email address" required>
					<div class="input-wrap__error"></div>
				</div>
				<button class="newsletter submit form-submit" form="newsletter-form" type="submit"><img src="/assets/img/icon--smile.svg"></button>
        	</form>
        <p class="text--12 text-center text--uppercase">By signing up for our newsletter, you agree to our <a target="_blank" href="/" class="text--underline">privacy policy</a>.</p>
      </div>
      <div class="col-8 col-md-3 two-col__contact padding-y-2">
        <div class="padding-bottom-1">
          <p class="text--uppercase">Get Started</p>
          <a class="text--arrow dark text--24" data-form="brand-review">Free Brand Review</a>
        </div>
        <div>
          <p class="text--uppercase">General Inquiries</p>
          <a href="mailto:hello@goodhands.co" class="text--arrow dark text--24">hello@goodhands.co</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}