{% include header.html %}
<section class="hero d-flex align-items-center text-center text-md-left padding-y-2 padding-y-md-4 bg--light grain--light">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="text--uppercase text--century animated-heading" data-aos="fade" data-aos-delay="500">​​{{ page.heading }}</h1>
         <a class="text--cta-responsive d-sm-none mt-5 d-block" data-form="brand-review"><span>Free Brand Review</span></a>
      </div>
    </div>
  </div>
</section>
<section class="solutions__grid bg--dark grain--light">
  <div class="container-fluid px-0">
    <div class="row no-gutters">

      {% for service in page.services %}
        <div class="col-8 col-sm-4">
          <a href="{{ service.url }}" class="d-flex justify-content-center align-items-center padding-y-5">
            <picture>
              <source media="(min-width: 1280px)" srcset="{{ service.desktop_image }}">
              <source media="(min-width: 768px)" srcset="{{ service.tablet_image }}">
              <img data-src="{{ service.mobile_image }}" class="img-absolute lazy" data-proofer-ignore data-aos="fade-up" data-aos-delay="600">
            </picture>
            <p data-aos="fade-in" data-aos-delay="1000" data-aos-anchor="solutions__grid">{{ service.name }}</p>
          </a>
        </div>
      {% endfor %}
      
    </div>
  </div>
</section>
{% include footer.html %}