{% include header.html %}
<section class="hero d-flex align-items-center text-center text-md-left padding-y-2 padding-y-md-4 bg--light grain--light">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="text--uppercase text--century animated-heading" data-aos="fade" data-aos-delay="500">​​We are the creative powerhouse behind emerging artists, startups, and companies.</h1>
         <a class="text--cta-responsive d-sm-none mt-5 d-block" data-form="brand-review"><span>Free Brand Review</span></a>
      </div>
    </div>
  </div>
</section>
<section class="solutions__grid bg--dark grain--light">
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-8 col-sm-4">
        <a href="/services/music-artists" class="d-flex justify-content-center align-items-center padding-y-5">
          <picture>
            <source media="(min-width: 1280px)" srcset="/assets/img/home-music-artists-1280px.jpg">
            <source media="(min-width: 768px)" srcset="/assets/img/home-music-artists-768px.jpg">
            <img data-src="/assets/img/home-music-artists-360px.jpg" class="img-absolute lazy" data-proofer-ignore data-aos="fade-up" data-aos-delay="600">
          </picture>
          <p data-aos="fade-in" data-aos-delay="1000" data-aos-anchor="solutions__grid">For Music Artists</p>
        </a>
      </div>
      <div class="col-8 col-sm-4">
        <a href="/services/startups" class="d-flex justify-content-center align-items-center padding-y-5">
          <picture>
            <source media="(min-width: 1280px)" srcset="/assets/img/home-startups-1280px.jpg">
            <source media="(min-width: 768px)" srcset="/assets/img/home-startups-768px.jpg">
            <img data-src="/assets/img/home-startups-360px.jpg" class="img-absolute lazy" data-proofer-ignore data-aos="fade-up" data-aos-delay="700">
          </picture>
          <p data-aos="fade-in" data-aos-delay="1100" data-aos-anchor="solutions__grid">For Startups</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="solutions__grid bg--dark grain--light">
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-8 col-sm-4">
        <a href="/services/companies" class="d-flex justify-content-center align-items-center padding-y-5">
          <picture>
            <source media="(min-width: 1280px)" srcset="/assets/img/home-companies-1280px.jpg">
            <source media="(min-width: 768px)" srcset="/assets/img/home-companies-768px.jpg">
            <img data-src="/assets/img/home-companies-360px.jpg" class="img-absolute lazy" data-proofer-ignore data-aos="fade-up">
          </picture>
          <p data-aos="fade-in" data-aos-duration="800">For Companies</p>
        </a>
      </div>
      <div class="col-8 col-sm-4">
        <a href="/services/agencies" class="d-flex justify-content-center align-items-center padding-y-5">
           <picture>
            <source media="(min-width: 1280px)" srcset="/assets/img/home-agencies-1280px.jpg">
            <source media="(min-width: 768px)" srcset="/assets/img/home-agencies-768px.jpg">
            <img data-src="/assets/img/home-agencies-360px.jpg" class="img-absolute lazy" data-proofer-ignore data-aos="fade-up" data-aos-delay="200">
          </picture>
          <p data-aos="fade-in" data-aos-duration="800" data-aos-delay="400">For Agencies</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}
