{% include header.html %}

<section class="hero--solutions bg--dark jarallax" data-jarallax data-speed="0">
  <picture class="jarallax-img">
    {% if page.hero_mobile_image %}<source media="(max-width: 450px)" srcset="{{ page.hero_mobile_image }}">{% endif %}
    {% if page.hero_tablet_image %}<source media="(max-width: 768px)" srcset="{{ page.hero_tablet_image }}">{% endif %}
    <img src="{{ page.hero_desktop_image }}" class="img-absolute" data-proofer-ignore>
  </picture>
  {% if page.hero_heading %}
    <div class="container">
      <div class="row">
        <div class="col-8 d-flex justify-content-center align-items-center padding-y-6 padding-y-md-9 padding-y-lg-7">
          <h1 data-aos="fade" data-aos-delay="500">{{ page.hero_heading }}</h1>
        </div>
      </div>
    </div>
  {% endif %}
</section>

{% if page.intro %}
  <section class="grain--light padding-y-2 padding-y-sm-3 bg--light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8 col-md-4 offset-md-0" data-aos="fade-up">
          {% if page.intro_subheading %}<h4 class="text--uppercase">{{ page.intro_subheading }}</h4>{% endif %}
          {% if page.intro_heading %}<p class="text--32 text--underline">{{ page.intro_heading }}</p>{% endif %}
        </div>
        <div class="col-8 col-md-3 offset-md-1 padding-top-1 padding-top-lg-0" data-aos="fade-up" data-aos-delay="100">
          <p class="text--only-20">{{ page.intro }}</p>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<section class="three-col">
  <div class="three-col__big-col{% if service.large_image_position == 'left' %} order-2 order-sm-1{% else %} order-1 order-sm-2{% endif %}">
    {% if service.large_desktop_image %}
      <div class="padding-y-7 image image--second">
        <picture>
          <source media="(max-width: 450px)" srcset="{{ service.large_mobile_image }}">
          <source media="(max-width: 768px)" srcset="{{ service.large_tablet_image }}">
          <img data-src="{{ service.large_desktop_image }}" class="img-absolute lazy" data-proofer-ignore data-aos="fade">
        </picture>
        {% if service.video_link %}
          <a href="{{ service.video_link }}" class="video-trigger"><img src="/assets/img/icon--play.svg" class="svg"></a>
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="three-col__two-col{% if service.large_image_position == 'left' %} order-1 order-sm-2{% else %} order-2 order-sm-1{% endif %}">
    <div class="three-col__half-image{% if service.small_image_position == 'top' %} order-2 order-sm-1{% else %} order-2{% endif %}{% if service.small_desktop_image %} padding-top-8 padding-top-sm-7 padding-top-md-0{% else %} container padding-top-1 padding-bottom-4 d-none d-sm-block d-md-none{% endif %}{% if service.background == 'dark' %} grain--dark text-white{% else %} grain--light{% endif %}">
      {% if service.small_desktop_image %}
        <div class="image">
          <picture>
              <source media="(max-width: 450px)" srcset="{{ service.small_mobile_image }}">
              <source media="(max-width: 768px)" srcset="{{ service.small_tablet_image }}">
              <img data-src="{{ service.small_desktop_image }}" class="img-absolute lazy" data-proofer-ignore data-aos="fade">
          </picture>
        </div>
      {% else %}
        <h4 class="text--uppercase" data-jarallax-element="-25">{{ service.heading }}</h4>
      {% endif %}
    </div>
    <div class="padding-y-1 three-col__half-col container container--pr{% unless service.small_desktop_image %} three-col__desc-only{% endunless %}{% if service.small_image_position == 'top' %} order-1 order-sm-2{% else %} order-1{% endif %}{% if service.background == 'dark' %} grain--dark text-white{% else %} grain--light{% endif %}">
      {% if service.heading %}<h4 class="d-block d-sm-none d-md-block text--uppercase" data-jarallax-element="-25">{{ service.heading }}</h4>{% endif %}
      {% if service.content %}<p class="text--only-20 text--underline three-col__desc" data-jarallax-element="-25">​​{{ service.content }}</p>{% endif %}
    </div>
  </div>
</section>


{% include show-project.html %}

{% include footer.html %}