{% include meta.html %}

<section class="thank-you padding-y-1">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-8 d-flex flex-column justify-content-between align-items-center text-white text-center h-100">
				<p class="text--uppercase text--medium text--20">GOOD HANDS</p>
				<p class="text--uppercase text--medium text--20">THANKS FOR YOUR SUBMISSION. WE’LL BE IN TOUCH SHORTLY.</p>
				<a href="javascript: history.go(-1)" class="text--underline text--12 text--uppercase">Go back</a>
			</div>
		</div>
	</div>
</section>

{% include scripts.html %}

</body>